---
layout: default
title: Home
---

<div class="home-post-list">
  {% for post in paginator.posts %}
  <div class="home-post-item">
    <div class="home-post-header">
      <h2 class="home-post-title">
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </h2>
      <span class="home-post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
    </div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.url }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.url }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>