<footer class="py-5 bg-primary-brand">
  <div class="container py-md-5">
      <div class="row">
          <div class="col-sm-3">
              <h4 class="mb-3">Pages</h4>
              <ul class="list-unstyled">
                  <li class="mb-2"><a href="about.html" class="text-dark">About</a></li>
                  <li class="mb-2"><a href="contact.html" class="text-dark">Contact</a></li>
                  <li class="mb-2"><a href="faqs.html" class="text-dark">FAQ's</a></li>
              </ul>
          </div>
          <div class="col-sm-3">
              <h4 class="mb-3">Components</h4>
              <ul class="list-unstyled">
                  <li class="mb-2"><a href="components-accordions.html" class="text-dark">Accordions</a></li>
                  <li class="mb-2"><a href="components-alerts.html" class="text-dark">Alerts</a></li>
                  <li class="mb-2"><a href="components-buttons.html" class="text-dark">Buttons</a></li>
                  <li class="mb-2"><a href="components-cards.html" class="text-dark">Cards</a></li>
                  <li class="mb-2"><a href="components-carousel.html" class="text-dark">Carousel</a></li>
              </ul>
          </div>
          <div class="col-sm-3">
              <ul class="list-unstyled mt-5">
                  <li class="mb-2"><a href="components-forms.html" class="text-dark">Forms</a></li>
                  <li class="mb-2"><a href="components-modals.html" class="text-dark">Modals</a></li>
                  <li class="mb-2"><a href="components-pagination.html" class="text-dark">Pagination &
                          Breadcrumbs</a></li>
                  <li class="mb-2"><a href="components-tables.html" class="text-dark">Tables</a></li>
                  <li class="mb-2"><a href="components-typography.html" class="text-dark">Typography</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>