---
---

@import "{{ site.theme }}";

/* Custom CSS */
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  color: #159957;
}

a {
  color: #1e6bb8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}